.container{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}
html{
    background: no-repeat center center fixed; 
    height:100%;
    
    background: #49B86A; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, #00A3C2, #49B86A); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #00A3C2, #49B86A); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #00A3C2, #49B86A); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #00A3C2, #49B86A); /* Standard syntax */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100% 100% cover no-repeat fixed;
    background-attachment: fixed;
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 300;
    color: #fff;
      

}

ul{
    list-style: none;
    width: 100%;
    padding:0;
}

.checked{
    background-color: rgba(255, 255, 255, 0.1);
    border: 0px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    
    
}
img{
    display:none;
}
.checked div img{
    display:block;
    height: 22px;
    width:25px;
    margin-left: -3px;
        margin-top: -12px;

}
.hidden{
    display:block;
}

#checkImg{
    width:10px;
        height:10px;
        margin-left: 1%;
        margin-right: 2%;
    background-color: rgba(0, 0, 0, 0.1);
    display:inline-block;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}.
.checked div{
      background-image: url(../images/check.png);
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: 1% 5%; 
}
h1{
margin-bottom:5px;
    width: 40%;
    display:inline-block;

}
h2{
 font-size:16px;
font-weight:300;
 float:right;
width:auto;
margin:1%;
}
h3{
 font-size: 14px;
 font-weight:300;
margin:0;
width:60%;
display:inline-block;
margin-bottom:1%;
}

#removeChecked{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
#newItem{
    width:85%;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    color: white;
    height: 30px;
    font-size: 20px;
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 100;
}
#newItem::placeholder{
    
    color: #7FCCBE;

}

p{
    width:85%;
    font-size:18px;
    display:inline-block;
    margin-top:1.5%;
    margin-bottom:1.5%;

}
hr{
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin: 0;
}
button {
    width:auto;
    background-color: #8CC63E; 
    border: 0px solid rgba(0, 0, 0, 0.2);
    color: rgba(255, 255, 255, 1);
    margin: 1%;
    height: 30px;
    margin-top:5%;

    padding: 5px 10px 5px 10px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    float: right;
     -webkit-margin-before: 2em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0.67em;
    -webkit-margin-end: 0.67em;
}
#add{
    margin:0;
margin-right:1%;
margin-left:1%;
width:12%;


}
li button {
    width:auto;
    
    background-color: transparent; /* Green */
    background-color: rgba(0, 0, 0, 0.1);
    border: 0px solid rgba(0, 0, 0, 0.2);
    color: rgba(255, 255, 255, 0.3);
    border-radius: 4px;

  padding: 5px 10px;
  margin:1%;

    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
}
h3 button{
 float: none;
 background: transparent;
 width:auto;
    color: rgba(255, 255, 255, 1);
    margin: 1%;

    padding: 5px 10px 5px 10px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    display: inline-block;
 
}
.selected{
	background: #8CC63E;
}
